@use '../../font';

.component-content {
  width: 50%;
  padding: 10px;
  margin: auto;
  text-align: center;

  .heading {
    margin-top: 20%;
    @include font.responsive(4vw, 2.5rem, 5rem, 30px);
  }
}

button {
  font-size: 1.6rem;
  height: 75px;
  border-radius: 25px !important;
  transition: transform .1s;


  &:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@media screen and (max-width: 1300px) {
  .component-content {
    width: 100%;
  }
}

