<div
  class="component-content"
>
  <form fxLayout="column">
    <mat-card
      fxFlex
      fxLayout="column"
      fxLayoutGap="25px"
    >
      <mat-card-title fxFlex fxLayoutAlign="center">What would you like to be called?</mat-card-title>
      <mat-card-content fxFlex fxLayoutAlign="center center" >
         <!-- Text Box -->
          <input
            class="txtName"
            type="text"
            autocomplete="off"
            [formControl]="name"
            placeholder="Enter your name...">
      </mat-card-content>
      <mat-card-actions
        fxFlex
        fxLayoutAlign="space-around center"
      >
        <button type="button" mat-raised-button routerLink="back">Back</button>
        <button type="submit" mat-raised-button routerLink="/home" [disabled]="!name.valid">Next</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
