.component-content {
  margin: 12% 10px 0;

  mat-card {
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    padding: 30px;
    background-color: var(--color-accent);

    mat-card-title, input, button {
      font-family: 'Merriweather', serif;
    }
    mat-card-title {
      color: white;
      font-size: 2rem;
      text-align: center;
    }

    input {
      font-size: 1.5rem;
    }

    button {
      border-radius: 15px !important;
      padding: 3px 16px;
      font-size: 1.4rem;

      &:hover:not([disabled]) {
        background-color: var(--button-hover) !important;
      }
    }
  }
}
