:root{
  --color-primary: rgb(50, 50, 207);
  --color-secondary: #A5A6F6;
  --color-accent: #7879F1;

  --base-font-size: 1.7rem;
  --button-hover: rgb(255 255 255 / 20%);
  --transform-scale: scale(1.05);
}

