<div class="component-content" fxLayout="row" fxLayout.lt-md="column">
  <section class="instruction" fxFlex>
    <h1>TRY IT OUT</h1>
    <ul>
      <li>Open a new window to try it out</li>
    </ul>
  </section>
  <section class="chat" fxFlex>
    <div class="container" fxLayout="column" fxLayoutGap="10px">
      <!-- Title -->
      <div class="title" fxLayoutAlign="space-around">
        <div>
          <span>Global Chat</span>
        </div>
        <span>Online {{ onlineUsers }}</span>
      </div>
      <!-- Chat Box -->
      <div class="chat-box">
        <div *ngFor="let o of messages"
          class="message"
          [ngClass]="{
            'you': o.owner === 'you',
            'other': o.owner === 'other'
            }">

          {{ o.message }}
        </div>
      </div>
      <!-- Actions (message text, send button) -->
      <div class="actions">
        <form fxLayoutAlign="space-between">
          <textarea [(ngModel)]="userMessage" name="userMessage" placeholder="Enter a message..."></textarea>
          <button #sendButton mat-raised-button type="submit" (click)="sendMessage()">Send</button>
        </form>
      </div>
    </div>
  </section>
</div>
