@use '../../font';

.component-content {
  padding: 20px;
}

.instruction {

  h1 {
    @include font.responsive(5vw, 2.8125rem, 5rem, 50px);
    margin-bottom: 0;
  }

  li {
    @include font.responsive(3vw, 1.3875rem, 1.7rem, 24px);
    line-height: 150%;
    margin: 20px 0;
  }
}

.chat {
  margin: auto;
  color: black;
  display: flex;

  .container {
    margin-left: 10%;
    font-size: 1.5rem;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    background-color: var(--color-accent);

    &, .chat-box {
      border-radius: 15px;
    }
    .chat-box {
      $spacing: 5px;
      overflow-y: auto;

      .message {
        border: 1px solid black;
        width: fit-content;
        margin-top: $spacing;
        padding: $spacing;
        border-radius: $spacing * 2;
      }
      .you {
        margin-left: $spacing;
      }
      .other {
        margin-left: auto;
        // float: right;
        margin-right: $spacing;
      }
    }
    .title {
      background-color: var(--color-secondary);
      font-family: 'Merriweather', serif;

      mat-select {
        font-family: 'Merriweather', serif !important;
        width: 170px;
      }
    }

    .chat-box {
      height: 500px;
      margin: 0 10px;
      background-color: var(--color-secondary);
    }

    .actions {
      padding: 0 10px 10px;

      textarea {
        resize: none;
        border-radius: 15px;
        border: none;
        width: 75%;
        padding-left: 10px;
        background-color: var(--color-secondary);
        font-size: 1.3rem;
        font-family: 'Merriweather', serif;

        &:focus {
          outline: none;
        }
      }
      button {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .chat {
    margin: 15% 0 0;

    .container {
      margin: auto;
    }
  }
}
